html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}

h1,
h3,
.bold-text {
  font-weight: 700;
}

.text-shadow {
  text-shadow: 2px 2px 4px #2c2b2b;
}

.pos-relative {
  position: relative;
}

.magrin-bottop-15px {
  margin-bottom: 15px;
  margin-top: 15px;
}

.btn-style {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #CC635B;
  color: #ffffff;
  transition: 0.8s ease;
  font-weight: 700;
}
.btn-style:hover {
  opacity: 0.8;
}

q {
  font-style: italic;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2;
}

small {
  font-size: 0.8rem;
}

h1,
h3,
h5 {
  color: #000000;
}

small,
li a,
span {
  color: #ffffff;
}

.page-column-information {
  padding: 0;
}
.page .navigator {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #CC635B;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.page .navigator-image {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.page .navigator-image img {
  border-radius: 50%;
  width: 40%;
  height: 40%;
}
.page .navigator-author {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.page .navigator-author h3,
.page .navigator-author h5 {
  color: #ffffff;
}
.page .navigator-author-position {
  font-size: 0.8rem;
}
.page .navigator-items {
  width: 100%;
}
.page .navigator-items-profiles li {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.page .navigator-items-profiles li a {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  transition: 0.8s ease;
  border-bottom: 2px solid #ffffff;
}
.page .navigator-items-profiles li a:hover {
  background-color: #ffffff;
  color: #CC635B;
  border-right: 1px solid #CC635B;
  border-left: 1px solid #CC635B;
  padding-left: 1rem;
}
.page .navigator-items-profiles li a:hover::before {
  content: " >";
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: #CC635B;
}
.page .navigator-items-profiles li .active {
  background-color: #ffffff;
  color: #CC635B;
  border-right: 2px solid #CC635B;
  border-left: 2px solid #CC635B;
  padding-left: 1rem;
}
.page .navigator-items-profiles li .active::before {
  content: " >";
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: #CC635B;
}
.page .navigator-items-profiles li:first-child {
  border-top: 2px solid #ffffff;
}
.page .navigator-link {
  width: 100%;
  border-bottom: 1px solid #2c2b2b;
}
.page .navigator-link-social {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .navigator-link-social li {
  width: 40px;
  height: 40px;
}
.page .navigator-link-social li a {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  transition: 0.8s ease;
}
.page .navigator-link-social li a:hover {
  background-color: #ffffff;
  padding-bottom: 0.5rem;
  color: #CC635B;
}
.page .navigator-link-social li .facebook {
  background-color: #055ed3;
}
.page .navigator-link-social li .github {
  background-color: #494141;
}
.page .navigator-link-social li .linkedin {
  background-color: #004182;
}
.page .navigator-link-social li .instagram {
  background-color: #d6a10e;
}
.page .navigator-copyright {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .about {
  border-bottom: 2px solid #CC635B;
}
.page .about-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .about-title-text {
  letter-spacing: 2px;
  text-align: center;
}
.page .about-title-text::after {
  border-bottom: 1px solid #CC635B;
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  left: 0;
  transform: translate(50%, 50%);
}
.page .about-title-des {
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1px;
}
.page .about .about-content .row {
  display: flex;
  align-items: center;
}
.page .about .about-content-image img {
  width: 100%;
  border-radius: 0.3rem;
}
.page .about .about-content-des {
  letter-spacing: 1px;
}
.page .skills {
  border-bottom: 2px solid #CC635B;
}
.page .skills-heading {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .skills-heading-text {
  letter-spacing: 2px;
  text-align: center;
}
.page .skills-heading-text::after {
  border-bottom: 1px solid #CC635B;
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  left: 0;
  transform: translate(50%, 50%);
}
.page .skills-heading-des {
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1px;
}
.page .skills .skill-html {
  background-color: #62CDD9;
  transition: 0.2s ease-in-out;
}
.page .skills .skill-html-icon {
  background-image: url("../../public/image/html-tag-iocn.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .skills .skill-html-heading .skill-title {
  letter-spacing: 2px;
  color: #ffffff;
}
.page .skills .skill-html-heading .skill-text,
.page .skills .skill-html-heading .skill-text-details {
  letter-spacing: 1px;
  color: #ffffff;
}
.page .skills .skill-javascript {
  background-color: #F29E38;
  transition: 0.2s ease-in-out;
}
.page .skills .skill-javascript-icon {
  background-image: url("../../public/image/white-icon.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .skills .skill-javascript-heading .skill-title {
  letter-spacing: 2px;
  color: #ffffff;
}
.page .skills .skill-javascript-heading .skill-text,
.page .skills .skill-javascript-heading .skill-text-details {
  letter-spacing: 1px;
  color: #ffffff;
}
.page .skills .skill-bootstrap {
  background-color: #F2D022;
  transition: 0.2s ease-in-out;
}
.page .skills .skill-bootstrap-icon {
  background-image: url("../../public/image/html-tag-iocn.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .skills .skill-bootstrap-heading .skill-title {
  letter-spacing: 2px;
  color: #ffffff;
}
.page .skills .skill-bootstrap-heading .skill-text,
.page .skills .skill-bootstrap-heading .skill-text-details {
  letter-spacing: 1px;
  color: #ffffff;
}
.page .skills .skill-reactjs {
  background-color: #3A758C;
  transition: 0.2s ease-in-out;
}
.page .skills .skill-reactjs-icon {
  background-image: url("../../public/image/white-icon.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .skills .skill-reactjs-heading .skill-title {
  letter-spacing: 2px;
  color: #ffffff;
}
.page .skills .skill-reactjs-heading .skill-text,
.page .skills .skill-reactjs-heading .skill-text-details {
  letter-spacing: 1px;
  color: #ffffff;
}
.page .projects {
  border-bottom: 2px solid #CC635B;
}
.page .projects-heading {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .projects-heading-text {
  letter-spacing: 2px;
  text-align: center;
}
.page .projects-heading-text::after {
  border-bottom: 1px solid #CC635B;
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  left: 0;
  transform: translate(50%, 50%);
}
.page .projects-heading-des {
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1px;
}
.page .projects .projects-silde-title {
  color: #ffffff;
}
.page .contact {
  border-bottom: 2px solid #CC635B;
}
.page .contact-heading {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .contact-heading-text {
  letter-spacing: 2px;
  text-align: center;
}
.page .contact-heading-text::after {
  border-bottom: 1px solid #CC635B;
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  left: 0;
  transform: translate(50%, 50%);
}
.page .contact-heading-des {
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1px;
}
.page .contact-info-list {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: start;
  flex-wrap: nowrap;
}
.page .contact-info-list li {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 100% 0px;
  position: relative;
}
.page .contact-info-list li img {
  width: 20px;
  height: 20px;
}
.page .contact-info-list li span {
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
