html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}

h1,
h3,
.bold-text {
  font-weight: 700;
}

.pos-relative {
  position: relative;
}

.btn-style {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #807760;
  color: #ffffff;
}

q {
  font-style: italic;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2;
}

small {
  font-size: 0.8rem;
}

h1,
h3,
h5,
small,
li a,
p,
span {
  color: #ffffff;
}

.page {
  background-color: #2DB38B;
  /*for browser do not support gradient color*/
  background-image: linear-gradient(to right, #2DB38B, #8CE9E7);
}
.page-column-information {
  padding: 0;
}
.page .navigator {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #E3BB4D;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.page .navigator-image {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.page .navigator-image img {
  border-radius: 50%;
  width: 40%;
  height: 40%;
}
.page .navigator-author {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.page .navigator-author-position {
  font-size: 0.8rem;
}
.page .navigator-item {
  width: 100%;
}
.page .navigator-item-profiles li {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.page .navigator-item-profiles li a {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  transition: 0.8s ease;
  border-bottom: 2px solid #ffffff;
}
.page .navigator-item-profiles li a:hover {
  background-color: #ffffff;
  color: #E3BB4D;
}
.page .navigator-item-profiles li:first-child {
  border-top: 2px solid #ffffff;
}
.page .navigator-link {
  width: 100%;
  border-bottom: 1px solid #807760;
}
.page .navigator-link-social {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .navigator-link-social li {
  width: 40px;
  height: 40px;
}
.page .navigator-link-social li a {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #E69C50;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  transition: 0.8s ease;
}
.page .navigator-link-social li a:hover {
  color: #E69C50;
  background-color: #ffffff;
}
.page .navigator-copyright {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .about {
  border-bottom: 2px solid #ffffff;
}
.page .about-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .about-title-text {
  letter-spacing: 2px;
  position: relative;
}
.page .about-title-text::after {
  border-bottom: 1px solid #ffffff;
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  left: 0;
  transform: translate(50%, 100%);
}
.page .about-title-des {
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1px;
}
.page .about .about-content .row {
  display: flex;
  align-items: center;
}
.page .about .about-content .row .height500px {
  height: 500px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .about .about-content-image img {
  width: 100%;
  border-radius: 0.3rem;
}
.page .about .about-content-des {
  letter-spacing: 1px;
}
.page .skills {
  border-bottom: 2px solid #ffffff;
}
.page .skills-heading {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.page .skills-heading-text {
  letter-spacing: 2px;
  position: relative;
}
.page .skills-heading-text::after {
  border-bottom: 1px solid #ffffff;
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  left: 0;
  transform: translate(50%, 100%);
}
.page .skills-heading-des {
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1px;
}
.page .skills .pos-relative {
  left: 15px;
}
.page .skills .skill-htmt {
  background-color: #c29ba4;
  transition: 0.2s ease-in-out;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
}
.page .skills .skill-htmt-icon {
  background-image: url("../../public/image/html-tag-iocn.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .skills .skill-htmt-heading .skill-title {
  letter-spacing: 2px;
}
.page .skills .skill-htmt-heading .skill-text {
  letter-spacing: 1px;
}
.page .skills .skill-htmt .skill-text-hover {
  letter-spacing: 1px;
  display: none;
}
.page .skills .skill-htmt:hover {
  width: 100%;
  height: 100%;
  z-index: 999999;
}
.page .skills .skill-htmt:hover .skill-text-hover {
  display: block;
}
.page .skills .skill-htmt:hover .skill-text {
  display: none;
}
.page .skills .skill-javascript {
  background-color: #E3BB4D;
  transition: 0.2s ease-in-out;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
}
.page .skills .skill-javascript-icon {
  background-image: url("../../public/image/white-icon.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .skills .skill-javascript-heading .skill-title {
  letter-spacing: 2px;
}
.page .skills .skill-javascript-heading .skill-text {
  letter-spacing: 1px;
}
.page .skills .skill-javascript .skill-text-hover {
  letter-spacing: 1px;
  display: none;
}
.page .skills .skill-javascript:hover {
  width: 100%;
  height: 100%;
  z-index: 999999;
}
.page .skills .skill-javascript:hover .skill-text-hover {
  display: block;
}
.page .skills .skill-javascript:hover .skill-text {
  display: none;
}
.page .skills .skill-nodejs {
  background-color: #E69C50;
  transition: 0.2s ease-in-out;
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 0;
}
.page .skills .skill-nodejs-icon {
  background-image: url("../../public/image/white-icon.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .skills .skill-nodejs-heading .skill-title {
  letter-spacing: 2px;
}
.page .skills .skill-nodejs-heading .skill-text {
  letter-spacing: 1px;
}
.page .skills .skill-nodejs .skill-text-hover {
  letter-spacing: 1px;
  display: none;
}
.page .skills .skill-nodejs:hover {
  width: 100%;
  height: 100%;
  z-index: 999999;
}
.page .skills .skill-nodejs:hover .skill-text-hover {
  display: block;
}
.page .skills .skill-nodejs:hover .skill-text {
  display: none;
}
.page .skills .skill-reactjs {
  background-color: #2DB38B;
  transition: 0.2s ease-in-out;
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: 0;
  right: 0;
}
.page .skills .skill-reactjs-icon {
  background-image: url("../../public/image/white-icon.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .skills .skill-reactjs-heading .skill-title {
  letter-spacing: 2px;
}
.page .skills .skill-reactjs-heading .skill-text {
  letter-spacing: 1px;
}
.page .skills .skill-reactjs .skill-text-hover {
  letter-spacing: 1px;
  display: none;
}
.page .skills .skill-reactjs:hover {
  width: 100%;
  height: 100%;
  z-index: 999999;
}
.page .skills .skill-reactjs:hover .skill-text-hover {
  display: block;
}
.page .skills .skill-reactjs:hover .skill-text {
  display: none;
}
.page .contact-content-text {
  line-height: 1.3;
  letter-spacing: 1px;
}
.page .contact-content-text ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.page .contact-content-text ul li svg {
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
