//Start about css a a a a a
.about {
  &-image {
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    &::before {
      //border top custom
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 90%;
      border: 1px solid $primary-color;
    }
    &::after {
      //border bottom custom
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 90%;
      border: 1px solid $primary-color;
    }
    &-border {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 90%;
        border: 1px solid $primary-color;
      }
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        height: 90%;
        border: 1px solid $primary-color;
      }
    }
  }
  .about-content {
    &-text {
      &__des {
        letter-spacing: 1px;
      }
    }
  }
}
//End about css
