%outline-btn {
  background-color: $white-color;
  color: $primary-color;
  font-weight: 700;
  border-radius: 0;
  transition: 0.5s ease;
  border: 1px solid $primary-color;
}

%border-title {
  border-bottom: 1px solid $primary-color;
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  left: 0;
  transform: translate(50%, 50%);
}

%sections-style {
  background-color: $white-color;
  border-bottom: 2px solid $primary-color;
  border-radius: 5px;
}

%text-color-light {
  color: $text-light-color;
}
%text-color-black {
  color: $text-black-color;
}
%text-color-white {
  color: $white-color;
}

%text-color-primary {
  color: $primary-color;
}

%text-border-primary {
  display: inline-block;
  background-color: $primary-color;
  color: $white-color;
  box-shadow: -2px 4px 4px $text-light-color;
}
//margin padding
%my5-px5-pb5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

%my5-p5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
}

%my2-py2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

%my3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

%bold-text {
  font-weight: 700;
}

%px4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

%py5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

%my5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

%p5 {
  padding: 3rem;
}

//end margin padding

//start class behind class (override attributes)
%text-shadow {
  text-shadow: -2px 4px 4px $text-light-color;
}

%box-shadow {
  box-shadow: 0 -1px 10px 4px $shadow-color;
}

%column-padding0 {
  padding: 0;
}

%column-pl0 {
  padding-left: 0;
}

%column-pr0 {
  padding-right: 0;
}

%pos-relative {
  position: relative;
}

%pos-absolute {
  position: absolute;
}
//End class behind class (override attributes)
