@mixin flex(
  $flow: column,
  $align: flex-start,
  $justify: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-flow: $flow;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin py5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@mixin px4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@mixin py4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@mixin px3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin py3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@mixin p3 {
  @include py3;
  @include px3;
}

@mixin py5-px4 {
  @include py5;
  @include px4;
}
