//*********** mobile, .col-sm ***********
@media (max-width: 767.98px) {
  //576px - 767px
  // about component
  .about {
    @include px3;
    &-summary {
      @include flex(column);
      &-image {
        display: none;
      }

      .about-content {
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0;

        &-text {
          @include p3;
          &__button {
            .outline-btn {
              width: 100%;
              &::before {
                left: 100px;
              }
              &::after {
                left: 100px;
              }
            }
          }
        }
      }
    }
  }
  // End about

  //skills
  .skills {
    @include px3;
    padding-bottom: 0;
    .skill-content {
      @include px3;
      &-icon {
        position: absolute;
        top: 0;
        width: auto;
      }
      &-text {
        width: 85%;
        &-heading {
          text-align: left;
        }
      }
    }
  }
  //End skills

  //career goals
  .goals {
    @include px3;

    .goals-item {
      .goal-content {
        .goal-index {
          display: none;
        }
      }
    }
  }
  //End Goals
}
//End Mobile, col sm

//*********** low mobile solution, .col- ***********
@media (max-width: 575.98px) {
  // about component
  .about {
    &-summary {
      .about-content {
        &-text {
          &__button {
            .outline-btn {
              &::before {
                left: 60px;
              }
              &::after {
                left: 60px;
              }
            }
          }
        }
      }
    }
  }
  // End about

  //skills
  .skills {
    padding-bottom: 3rem;
    .skill-content {
      margin-bottom: 1rem;
      padding-left: 0;
      padding-right: 0;
      &-icon {
        position: relative;
        width: 100%;
      }
      &-text {
        width: 100%;
        &-heading {
          text-align: center;
        }
      }
    }

    .technicalSkills-heading,
    .softSkills-heading {
      text-align: center;
    }

    .softSkill__des {
      text-align: center;
    }
  }
  //End skills

  //career goals
  .goals {
    .goals-item {
      .item3 {
        margin-bottom: 0;
      }
      width: 100%;
      .goal-content {
        padding-left: 1rem;
        padding-right: 1rem;
        &::before {
          display: none;
        }
      }
    }
  }
  //End Goals
}
//End low mobile, iPhone 6/7/8plus
