// width <1200px tablet, mobile, iPad pro, low pc solution
@media (max-width: 1199.98px) {
  .page {
    .navigator {
      display: none;
    }

    .nav-burger {
      display: inline-block;
      position: fixed;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      .navbar-burger {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// width >=1200px PC
@media (min-width: 1200px) {
  .navigator-mobile {
    display: none;
  }

  .overlay {
    display: none;
  }
}

// remove gutters on container
@media (max-width: 575.98px) {
  .page {
    .container {
      .row > .px4 {
        @include px3;
      }
    }
  }
}
