html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Inconsolata", monospace;
  // font-family: 'Raleway', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* manually css */
html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* font size for tag*/
p {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  @extend %bold-text;
}

h3 {
  font-size: 1.6rem;
  @extend %bold-text;
}

h5 {
  font-size: 1.4rem;
}

small {
  font-size: 0.8rem;
}
/* end font size tag */

//white color
.navigator-items-profile li a,
.navigator-link-social li a,
.navigator-copyright,
.navigator-author {
  @extend %text-color-white;
}

//light color
.about-heading-des,
.about-content-text__heading,
.about-content-text__des,
.skills-heading-des,
.projects-heading-des,
.goals-heading-des,
.contact-heading-des,
.technicalSkills-heading-des {
  @extend %text-color-light;
}

//start css same between tag
.about-heading,
.about-content-text,
.skills-heading,
.projects-heading,
.goals-heading,
.contact-heading {
  @include flex(column, center, center, nowrap);
  &-des {
    text-align: center;
    line-height: 1.3;
  }
}

.about-heading-text,
.skills-heading-text,
.projects-heading-text,
.goals-heading-text,
.contact-heading-text {
  color: $text-black-color;
  text-align: center;
  position: relative;
}

.about-heading-text::after,
.skills-heading-text::after,
.projects-heading-text::after,
.goals-heading-text::after,
.contact-heading-text::after {
  @extend %border-title;
}
//end css same between tag

//start css same between section
section {
  //section: about skills project goals contact
  @extend %sections-style;
  border-bottom: 2px solid $primary-color;
}
//end css same between section

//Start css same between heading h3 tag
.technicalSkills-heading-text,
.softSkills-heading-text {
  @extend %text-border-primary;
}
//End css same between heading h3 tag

.text-shadow {
  @extend %text-shadow;
}

.box-shadow {
  @extend %box-shadow;
}

.column-padding0 {
  @extend %column-padding0;
}

.column-pl0 {
  @extend %column-pl0;
}

.column-pr0 {
  @extend %column-pr0;
}

.pos-relative {
  @extend %pos-relative;
}

.pos-absolute {
  @extend %pos-absolute;
}

.bold-text {
  @extend %bold-text;
}

.textColor {
  @extend %text-color-primary;
}

.my5-px5-pb5 {
  @extend %my5-px5-pb5;
}

.px4 {
  @extend %px4;
}

.p4 {
  @extend %p4;
}

.py5 {
  @extend %py5;
}

.p5 {
  @extend %p5;
}

.my5-p5 {
  @extend %my5-p5;
}

.mb5 {
  @extend %mb5;
}

.my5 {
  @extend %my5;
}
.my3 {
  @extend %my3;
}

.my2-py2 {
  @extend %my2-py2;
}