//Start skills css
.skills {
  //hard skills, soft skills
  .skill-content {
    @include flex(row, center, flex-start, wrap);
    &-icon {
      @include flex(column, center, center, wrap);
      position: absolute;
      top: 0;
      background-color: transparent;
      & i {
        font-size: 2.5rem;
        background: -webkit-linear-gradient(rgba(88, 88, 88), rgb(88, 88, 88));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &-text {
      width: 70%;
      margin-left: auto;

      &-heading {
        color: $text-black-color;
      }
      &-des {
        width: 100%;
        color: $text-light-color;
        .list-skill {
          list-style-type: circle;
          text-align: left;
        }
      }
    }
  }
}
//End skills css
