//Start skills css
.skills {
  //hard skills, soft skills
  .skill-content {
    @include flex(row, center, flex-start, wrap);
    &-icon {
      @include flex(column, center, center, nowrap);
      position: absolute;
      top: 0;
      background-color: transparent;
      & i {
        font-size: 2.5rem;
        color: $text-black-color;
      }
      .fa-react,
      .fa-think-peaks {
        font-weight: bold;
      }
    }
    &-text {
      width: 70%;
      margin-left: auto;

      &-heading {
        color: $text-black-color;
      }
      &-des {
        width: 100%;
        color: $text-light-color;
        .list-skill {
          list-style-type: circle;
          text-align: left;
        }
      }
    }
  }
}
//End skills css
