//Start skills css
.skills {
  .technicalSkills {
    &-heading {
      &-text {
        background-color: $technicalSkills;
        color: $white-color;
      }
    }
    &-content {
      @include flex(column, center, flex-start, wrap);

      text-align: center;
      &-icon {
        @include flex(column, center, center, wrap);
        background-color: $white-color;
        box-shadow: 2px 2px 40px $shadow-color;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        & i {
          color: red;
          font-size: 3rem;
        }
      }
      &-heading {
        color: $text-black-color;
      }
      &-des {
        color: $text-light-color;
      }
    }
  }

  .softSkills {
    &-heading {
      &-text {
        background-color: $softSKills;
        color: $white-color;
      }
    }
    &-content {
      background-color: $softSKills;
    }
  }

  //Start softSkills content
  .softSkills-content {
    display: flex;
    flex-wrap: wrap;
    .languages,
    .sports,
    .teamwork,
    .creativity {
      @include flex(row, center, flex-start, wrap);
      flex: 1 0 50%;
    }
  }
  //End softSkills content

  //technical skills and soft skills (class con có tên giống nhau có thể css chung)
  .programming-languages,
  .frameworks,
  .version-control,
  .languages,
  .sports,
  .teamwork,
  .creativity {
    &-heading {
      @include flex(row, center, start, nowrap);

      &__text {
        color: $white-color;
        position: relative;
        letter-spacing: 2px;
        &::after {
          border-bottom: 2px solid $white-color;
          content: "";
          position: absolute;
          width: 50%;
          height: 0;
          bottom: 0;
          left: 0;
          transform: translate(50%, 50%);
        }
      }
      &__icon i {
        font-size: 1.6rem;
        color: $white-color;
      }
    }

    .html,
    .javascript,
    .bootstrap,
    .react,
    .sass,
    .github,
    .languages,
    .sports,
    .teamwork,
    .creativity {
      &-content {
        &__title {
          letter-spacing: 2px;
        }

        &__detail {
          letter-spacing: 1px;
        }
      }
    }
  }
}
//End skills css
