// *********** iPad Pro, low pc solution, .col-lg ***********
@media (max-width: 1199.98px) {
  /*992px - 1199px*/
  .skills {
    .skill-content {
      &-text {
        width: 80%;
      }
    }
  }
}
//End iPad pro, low pc solution

//*********** Tablet, .col-md ***********
@media (max-width: 991.98px) {
  //768px - 991px
  // about component
  .about {
    & > .my5 {
      @include mt2-pt2;
      margin-bottom: 0;
    }
    &-summary {
      @include flex(column);
      &-image {
        position: relative;
        width: 100%;
        height: 600px;
      }

      .about-content {
        width: 100%;
        margin: 0;
        top: 0;
      }
    }
  }
  // End about

  // SKills component
  .skills {
    .my5 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .skill-content {
      margin-bottom: 3rem;
      &-icon {
        position: relative;
        width: 100%;
      }
      &-text {
        width: 100%;
        &-heading {
          text-align: center;
        }
      }
    }
  }
  // End SKills
 
  //projects
  .projects {
    .my5 {
      margin-bottom: 0;
      @include mt2-pt2;
    }
  }
  //End projects

  //Goals
  .goals {
    .my5 {
      margin-bottom: 0;
      @include mt2-pt2;
    }
  }
  //End Goals
 
  //Contact
  .contact {
    .my5 {
      margin-bottom: 0;
      @include mt2-pt2;
    }
  }
  //End Contact
}
//End Tablet, iPad normal ,md
