$primary-color: #E3BB4D;
$second-color: #8CE9E7;
$third-color: #E69C50;
$border-color: #807760;
$background-color: #2DB38B;
$extra-color: #c29ba4;
$white-color: #ffffff;
$button-primary: $border-color;

@mixin flex(
  $flow: column,
  $align: flex-start,
  $justify: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-flow: $flow;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}
