$primary-color: #cc635b;
$white-color: #ffffff;
$background-color: #f1f2f7;
$text-light-color: #686868;
$text-black-color: #585858;
$facebook: #055ed3;
$linked: #004182;
$github: #494141;
$instagram: #d6a10e;
$html: #62cdd9;
$javascript: #f29e38;
$bootstrap: #f2d022;
$react: #3a758c;

@mixin flex(
  $flow: column,
  $align: flex-start,
  $justify: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-flow: $flow;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}